{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            {% include 'search.html.twig' %}

            <h2 class="page-title">
                Bienvenue dans votre annuaire du bien-être !
            </h2><!-- /.page-title -->
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widgettitle">Categories</h2>

                            <ul class="menu">
                                {{ render(controller(
                                    'App\\Controller\\ServiceController::listingServices'
                                )) }}

                            </ul><!-- /.menu -->
                        </div><!-- /.wifget -->
                        <div class="widget">
                            <h2 class="widgettitle">Prestataires</h2>

                            <ul class="menu">
                                {{ render(controller(
                                    'App\\Controller\\VendorController::listingVendors'
                                )) }}

                            </ul><!-- /.menu -->
                        </div><!-- /.wifget -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-* -->


                <div class="col-sm-8 col-lg-9">
                    <div class="content">
                        <div class="page-title">
                            <h1>Service du mois</h1>
                        </div><!-- /.page-title -->

                        <div class="posts post-detail">


                         {{ render(controller(
                                'App\\Controller\\ServiceController::imageDuMois'
                            )) }}

                        </div><!-- /.post -->
                    </div><!-- /.content -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->
{% endblock %}