{% for service in services %}
    {% if service.validity == 1 %}
        <li>
            <a href="{{ path('service_show', {'id':service.id}) }}">{{ service.name }}</a>
        </li>
    {% endif %}
{% endfor %}